<%- include("partials/header"); %>
<main class="main">
  <h1><%=title %></h1>
  <h2><%=content %></h2>
<% for(let i=0;i<=5;i++){%>
<p><%=pContent%></p>
<%}%>
</main>
<%- include("partials/footer"); %>