<%- include("partials/header"); %>
<main class="main">
    <div class="wrapper">
        <div class="news">


            
             
         
            
            <% a.matches.forEach(function(a, index) { %>
                <% if(a.matchStarted == true) { %>
                <a href="/live/article/<%- a.unique_id %> " class="news__card">
                    <!-- <img src="" class="border" > -->
                    <h2><%- a["team-1"] %>  vs <%- a["team-2"] %></h2>
                    <br>
                    <%- a.type %> 
                    <!-- <p class="newsdes"></p>       -->
                    </a>  
                    <% } %>            
            <% }) %>
            
            
        </div>
    </div> 
</main>
<%- include("partials/footer"); %>
