<%- include("partials/header"); %>
<main class="main">
    <div class="wrapper">
        <div class="news">
            <% if(a.articles != null) { %>
            <% a.articles.forEach(function(a, index) { %>
                
                <a href="/article/<%- a.source.name %> " class="news__card">
                    <img src="<%- a.urlToImage %>" class="border" >
                    <h2><%- a.title %></h2>
                    <br>
                    <p class="newsdes"><%- a.description %></p>      
                    </a>              
            <% }) %>
            <% } else { %>
                No posts found.
            <% } %>
        </div>
    </div> 
</main>
<%- include("partials/footer"); %>
