<%- include("partials/header"); %>
<main class="main">
<div class="player__card">
    <img class="player__img" src=<%-(player.photo!="null" && player.photo)?""+player.photo:"/images/default-picture.png"%> alt="image">
    <h1 class="player__name"><%=player.name%></h1>
    

    <div class="player__details">
        <% if (player.full_name!="null" && player.full_name){ %>
            <p class="player__detail"><span>Full Name:</span> <%=player.full_name%></p>
        <% } %>
     
        <% if (player.batting_style!="null" && player.batting_style ) { %>
            <p class="player__detail"><span>Batting Style:</span> <%=player.batting_style%></p>
        <% } %>
        
        <% if (player.bowling_style!="null" && player.bowling_style ){ %>
            <p class="player__detail"><span>Bowling Style:</span> <%=player.bowling_style%></p>
        <% } %>
     
        <!-- DOB -->
        <% if (player.date_of_birth!="null" && player.date_of_birth ){ %>
            
            <% let  date=new Date(player.date_of_birth ) %>
            
            <% if (date.getFullYear()) { %>
            <p class="player__detail"><span>Date of Birth : </span><%=date.getDate()%>-<%=date.getMonth()+1%>-<%=date.getFullYear()%> </p>
            <% } %>


        <% } %>
            
        <!--  -->

        <% if (player.country!="null"  && player.country){ %>
            <p class="player__detail"><span>Country:</span> <%=player.country%></p>
        <% } %>

               
        <% if (player.role!="Unknown" && player.role){ %>
            <p class="player__detail">Role: <%=player.role%></p>
        <% } %>
     

        <!-- TABLES -->
        <% if (player.bat_avg!="null" && player.bat_avg ) { %>
            <h1 > BAT AVG</h1>
            <!-- It will find the First Key and it is going to run only for first time -->
            <% for (var k in player.bat_avg) {%>
                <%//console.log("HELLO1")%>
                <%//console.log(player.bat_avg[k])%>
                <%//console.log(typeof (player.bat_avg[k]))%>
                <%//console.log(Object.keys(player.bat_avg[k]).length)%>
                            <!-- Parse the first key to Table.ejs  -->
                <%-include("table",{firstObject:k,avgOF:player.bat_avg,bowlORBat:"BAT AVG"});%>                    
                <h1 >BOWL AVG</h1>
                <%-include("table",{firstObject:k,avgOF:player.bowl_avg,bowlORBat:"BOWL AVG"});%>                                          
                <%break%>
                <%}%>
        <%}%>
        <!-- TABLES -->



        <% if (player.major_teams!="null" && player.major_teams){ %>
            <p class="player__detail"><span>Major Teams :</span> <%=player.major_teams%></p>
        <% } %>
        

       
        <% if (player.last_list_a!="null" && player.last_list_a ){ %>
            <p class="player__detail"><span>Last List A: </span> <%=player.last_list_a%></p>
        <% } %>
     
        <% if (player.last_odi!="null" && player.last_odi){ %>
            <p class="player__detail"><span>Last ODI:</span> <%=player.last_odi%></p>
        <% } %>
     
        <% if (player.last_t20!="null" && player.last_t20){ %>
                <p class="player__detail"><span>Last T20:</span> <%=player.last_t20%></p>
        <% } %>
     
        <% if (player.last_t20i!="null" && player.last_t20i ){ %>
            <p class="player__detail"><span>Last T20i :</span><%=player.last_t20i%></p>
        <% } %>
     
        <% if (player.last_test!="null" && player.last_test){ %>
            <p class="player__detail"><span> Test :</span> <%=player.last_test%></p>
        <% } %>
     
        <% if (player.list_a_debut!="null" && player.list_a_debut){ %>
                <p class="player__detail"><span>List A Debut :</span> <%=player.list_a_debut%></p>
        <% } %>
     
 
        <% if (player.odi_debut!="null" && player.odi_debut){ %>
            <p class="player__detail"><span>ODI Debut :</span><%=player.odi_debut%></p>
        <% } %>
     
 
        
        <% if (player.t20_debut!="null" && player.t20_debut ){ %>
            <p class="player__detail"><span> Debut:</span> <%=player.t20_debut%></p>
        <% } %>
     
        
        <% if (player.t20i_debut!="null" && player.t20i_debut ){ %>
            <p class="player__detail"><span>T20i Debut:</span> <%=player.t20i_debut%></p>
        <% } %>
     
        
        <% if (player.test_debut!="null" && player.test_debut ){ %>
            <p class="player__detail"><span>Test Debut: </span><%=player.test_debut%></p>
        <% } %>

        <% if (player.last_first_class!="null" && player.last_first_class){ %>
            <p class="player__detail"><span>Last First Class:</span><%=player.last_first_class%></p>
        <% } %>

     
        <% if (player.first_class_debut!="null" && player.first_class_debut ){ %>
            <p class="player__detail"><span>First Class Debut:</span><%=player.first_class_debut%></p>
        <% } %>


    </div>

</div>

</main>
<%- include("partials/footer"); %>