<%- include("partials/header"); %>
<div class="main">
  <p class="result-stats"> <span>About <%=resultStats.noOfResults%> </span> results<span> ( <%=resultStats.time%> seconds)</span> </p>
  <%=searchedWord.noOfResults%>
  <%- include("players"); %>
  </div>
  <%- include("partials/footer"); %>